<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg elex-header">
  	<h5 class="font-popular-light"><span  class="font-popular-medium">Election 2018</span> Key dates</h5>
  	<h1><%= archie.Headline %></h1>
  	<p class="byline">By <%= archie.Byline %> • <span>Star Tribune</span></p>
  	<!-- share -->
  </div>

  <div class="container-lg elex-main">

    <section class="leadin">
      <p><%= archie.Leadin %></p>
    </section>

    <section class="elex-calendar-container">

      <% _.each(archie.dates, date => {%>
      <div class="elex-calendar-row">
        <div class="elex-calendar-date">
          <%= date['Date-text'] %>
        </div>
        <div class="elex-calendar-item">
          <div class="elex-calendar-item-title">
            <%= date.Title %>
          </div>
          <div class="elex-calendar-item-desc">
            <%= date.Text %>
          </div>
          <% if (date.links) { %>
          <div class="elex-calendar-item-related">
            <ul>
              <% _.each(date.links, link => {%>
              <li><%- link %></li>
              <% }) %>
            </ul>
          </div>
          <% } %>
        </div>
      </div>

      <!-- ROW -->

      <% }) %>

    </section>

    <!-- FOOTER/SOURCES -->
    <footer>
      <p>Source: Star Tribune reporting</p>
    </footer>

  </div>

</div>
