<div class="strib strib-styles strib-styles-specifically">
  <div class="container-lg elex-header">
  	<h5 class="font-popular-light">Key dates</h5>
  	<h1><%= archie.Headline %></h1>
  	<p class="byline">By <%= archie.Byline %> • <span>Star Tribune</span></p>
  	<!-- share -->
  </div>

  <div class="container-lg elex-main">

    <section class="leadin">
      <%- archie.Leadin %>

      <div class="cf" id="navigation">
        <nav>
          <div class="nav-header">Install this calendar in ...</div>
          <ul>
            <a id="navgoogle" href="http://bit.ly/star-tribune-elections-calendar"><li>Google</li></a>
            <a id="navios" href="http://bit.ly/star-tribune-elections-calendar-ios"><li>iPhone</li></a>
            <a id="navoutlook" onclick="toggle_outlook(); return false;" href="#"><li>Outlook</li></a>
          </ul>
        </nav>
        <p id="outlook-instrux">First <span id="outlook-address">click here</span> to copy a link to the calendar to your clipboard. Then follow these instructions to add it to <a href="https://support.office.com/en-us/article/Import-or-subscribe-to-a-calendar-in-Outlook-com-or-Outlook-on-the-web-cff1429c-5af6-41ec-a5b4-74f2c278e98c">Outlook.com</a> or your <a href="https://support.office.com/en-us/article/View-and-subscribe-to-Internet-Calendars-7CD5D35A-4A90-4D70-A2F7-F6FADD7E2D9A">Outlook desktop client</a>.</p>
      </div>

    </section>

    <section class="elex-calendar-container">

      <% _.each(archie.dates, date => {%>
      <div class="elex-calendar-row">
        <div class="elex-calendar-date">
          <%= date['Date-text'] %>
        </div>
        <div class="elex-calendar-item">
          <div class="elex-calendar-item-title">
            <%= date.Title %>
          </div>
          <div class="elex-calendar-item-desc">
            <%- date.Text %>
          </div>
          <% if (date.links) { %>
          <div class="elex-calendar-item-related">
            <ul>
              <% _.each(date.links, link => {%>
              <li><%- link %></li>
              <% }) %>
            </ul>
          </div>
          <% } %>
        </div>
      </div>

      <!-- ROW -->

      <% }) %>

    </section>

    <!-- FOOTER/SOURCES -->
    <footer>
      <p>Source: <%- archie.Source %></p>
    </footer>

  </div>

  <script type="text/javascript">
    function toggle_outlook() {
      var e = document.getElementById('outlook-instrux');

      if(e.style.display == 'block') {
        console.log(e.style.display);
        e.style.display = 'none';
      } else {
        console.log(e.style.display);
        e.style.display = 'block';
      }
    }

    var span = document.getElementById('outlook-address');

    span.onclick = function() {
      var self = this;

      document.execCommand("copy");

      var classString = this.className;
      var newClass = classString.concat(" clicked");
      this.className = newClass;

      setTimeout(function() {
        self.className = '';
      }, 1000);
      
    }

    span.addEventListener("copy", function(event) {
      event.preventDefault();
      if (event.clipboardData) {
        event.clipboardData.setData("text/plain", 'webcal://calendar.google.com/calendar/ical/tkhukck7m1eov7v1ggrvkns64g@group.calendar.google.com/public/basic.ics');
      }
    });
  </script>

</div>
